/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Happy Monkey", serif;
}

/* GRID CONTAINER*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 4fr 0.3fr;
    grid-template-areas: 
            "encabezado encabezado encabezado"
            "contenido  contenido  contenido"
            "footer     footer     footer"
    ;
}

/*HEADER*/
.encabezado {
    grid-area: encabezado;
}
.encabezado {
    padding: 10px;
    width: 100%;
    background-color: #8174A0; 
    display: flex;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-shadow: 3px 3px 4px #ffffff;
}
.encabezado a img {
    width: 50px;
    height: 50px;
    margin: 15px 15px 15px 30px;
    mix-blend-mode: multiply;
    
}
.navegador-principal {
    display: flex; 
    justify-content: flex-end;
    padding-right: 22px;
    text-transform: capitalize;
    align-items: center;
}   
.encabezado nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.encabezado nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 0px 35px;
}
.buttons-nav {
    color: #000000;
}
.buttons-nav button {
    background-color: #A888B5;
    border-radius: 4px;
    padding: 2px;
}


/*MAIN*/

.contenido {
    display: flex;
    flex-direction: column;
    grid-area: contenido;
}
.vista-inicial {
    text-align: center;
    width: 100%;
    height: 60vh;
    color: #000000;
    font-size: 50px;
    background-image: url(../assets/FONDO-DEPORTIVO.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vista-inicial h1 {
    margin-top: 50px;
}
.principal {
    background-color: #88498F;
}
.principal h2 {
    text-align: center;
    padding: 20px 0px;
    background-color: #272727;
    color: #A888B5;
    text-shadow: 1px 2px 3px #000000;
    font-size: 40px;

}
.txt {
    color: #FFFFFA;
    font-style: italic;
    font-weight: lighter;
}
.titulos-main {
    font-size: 60px;
    margin: 40px;
    color: gray;
    text-align: center;
    text-shadow: 3px 3px 4px black;
}
.categorias {
    background-color: #88498F;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
}
.cada-categoria {
    position: relative;
    border: 3px solid #4f0147;
    border-radius: 25px;
    width: 340px;
    height: 390px;
    margin: 10px;
    overflow: hidden;
}
.cada-categoria a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    color: #000000;
    border-radius: 20px;
    text-align: center;
    width: 40%;
}
.cada-categoria a:hover {
    background: rgba(0, 0, 0, 0.8));
}
.cada-categoria:hover img {
    transform: scale(1.05);
}
.cada-categoria img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.informacion-adicional {
    background-color: #6f3975;
    padding: 15px;
    border-left: 2px #808080;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #808080;
    text-shadow: 1px 2px 3px black;
}
.informacion-adicional div {
    margin: 10px;
    padding: 10px;
}

/*FOOTER*/

.footer {
    grid-area: footer;
    padding: 10px;
    background-color: #88498F;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.footer div h5 {
    color:#808080;
    text-shadow: 1px 2px 3px black;
    text-align: start;
}
.footer div ul {
    list-style: none;
}
.footer div ul li a {
    color: #000000;
    text-decoration: none;
    padding: 0px 35px;
}
.logo-footer {
    width: 90px;
    border-radius: 10px;
}

/*MEDIA QUERIES DESKTOP A MOBILE
tablet 768px
mobile 480px
nota: solo vamos a declarar dentro de la MQ los cambios a realizar, no agregamos ni repetimos el mismo codigo
*/
