/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Happy Monkey", serif;
}

/*GRID CONTAINER HOME*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 3.5fr 0.3fr;
    grid-template-areas: 
            "encabezado encabezado encabezado"
            "contenido  contenido  contenido"
            "footer     footer     footer"
    ;
}

/*GRID CONTAINER CONTACT*/

.grid-container-contacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 4fr 0.3;
    grid-template-areas: 
            "encabezado encabezado encabezado"
            "principal-contacto principal-contacto principal-contacto"
            "aside     aside      aside"
            "footer     footer    footer"
    ;
}

/*HEADER*/

.encabezado {
    grid-area: encabezado;
    padding: 10px;
    width: 100%;
    background-color: #8174A0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-shadow: 3px 3px 4px #ffffff;
    flex-wrap: wrap;
    z-index: 1000;
}
.encabezado a img {
    width: 50px;
    height: 50px;
    margin: 15px;
    mix-blend-mode: multiply;
}
.navegador-principal {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    padding-right: 22px;
    text-transform: capitalize;
    flex-wrap: wrap;
}   
.encabezado nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}
.encabezado nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
}
.buttons-nav input, .buttons-nav button {
    color: #000000;
    background-color: #A888B5;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

/*MAIN*/

/*MAIN HOME*/
.contenido {
    display: flex;
    flex-direction: column;
    grid-area: contenido;
    background-color: #8174A0;
}
.vista-inicial {
    text-align: center;
    width: 100%;
    height: 50vh;
    color: #000000;
    font-size: 40px;
    background-image: url(../assets/FONDO-DEPORTIVO.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.bienvenida {
    text-align: center;
    padding: 20px 0px;
    background-color: #272727;
    color: #A888B5;
    text-shadow: 1px 2px 3px #000000;
    font-size: 40px;
}
.titulos-main {
    font-size: 40px;
    margin: 20px 0px;
    color: #808080;
    text-align: center;
    text-shadow: 3px 3px 4px #000000;
}
.categorias {
    background-color: #8174A0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
}
.cada-categoria {
    position: relative;
    border: 3px solid #4f0147;
    border-radius: 25px;
    width: 340px;
    height: 390px;
    margin: 10px;
    overflow: hidden;
}
.cada-categoria a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding: 10px 20px;
    color: #000000;
    border-radius: 20px;
    text-align: center;
}
.cada-categoria a:hover {
    background: rgba(0, 0, 0, 0.8));
}
.cada-categoria:hover img {
    transform: scale(1.05);
}
.cada-categoria img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.informacion-adicional {
    background-color: #5a4f75;
    padding: 15px;
    border-left: 2px #808080;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #808080;
    text-shadow: 1px 2px 3px black;
}
.informacion-adicional div {
    margin: 10px;
    padding: 10px;
}

/* MAIN CONTACTO */

.contenido-contacto {
    background-color: #A888B5;
    grid-area: principal-contacto;
}
.titulos-contacto {
    width: 100%;
    height: 90px;
    background-color: #272727;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    text-shadow: 3px 3px 4px #88498F;
    font-size: 30px;
}
.main-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
.contactos {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contactos a {
    padding: 20px;
    margin: 10px;
    background-color: #8174A0;
    border-radius: 20px;
} 
.fa-whatsapp {
    font-size: 50px;
    color: #139c13;
}
.fa-envelope {
    font-size: 50px;
    color: #b81e1e;
}
.formulario-principal {
    width: 50%;
}
.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.formulario input {
    margin: 5px;
    width: 50%;
    padding: 5px;
}
.formulario textarea {
    margin: 5px;
    padding: 2px;
}

/* MAIN SOBRE NOSTROS */

.contenido-sobre-nosotros {
    background-color: #A888B5;
}
.sobre-nosotros-main {
    max-width: 1000px;
    margin: auto;
}
.sobre-nosotros-main img {
    width: 50%;
    border-radius: 40px;
    padding: 20px;
    margin: 20px;
}
.sobre-nosotros-seccion {
    padding: 50px;
}
.sobre-nosotros-content {
    display: flex;
    align-items: center;
}
.sobre-nosotros-content p {
    color: #000000;
    line-height: 1.5;
}

/*FOOTER*/

.footer {
    grid-area: footer;
    padding: 10px;
    background-color: #8174A0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.footer div {
    margin: 10px;
}
.footer div h5 {
    color:#808080;
    text-shadow: 1px 2px 3px black;
}
.footer div ul {
    list-style: none;
    padding: 0px;
}
.footer div ul li a {
    color: #000000;
    text-decoration: none;
    padding: 5px 0px;
    display: block;
}
.logo-footer {
    width: 110px;
    border-radius: 10px;
}
.footer p {
    padding: 10px;
}
.fa-brands {
    font-size: 30px;
    padding: 5px;    
}
.fa-facebook-f {
    color: #1f1fc0;
}
.fa-instagram {
    color: #b81e1e;
}
.fa-whatsapp{
    color: #139c13;
}

/*ASIDE*/

.aside {
    grid-area: aside;
}
.contenedor-mapa {
    background-color: #A888B5;
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imagen-ubicacion {
    width: 33%;
    border-radius: 20px;
    border: 4px solid #808080;
    margin: 20px;
}